# Directories
**/.artifacts/
**/.build/
**/.cache/
**/.coverage/
**/.docker/data/




# Configuration Files
**/.config/*.config.*
**/.config/*.toml
**/.config/*.yaml
**/.config/*.yml
**/.config/*.json

**/*.env
**/*.env.*

### Exceptions
!**/default.config.*
!**/example.config.*

!**/example.env.*
!**/*.env.example
!**/*.env.default

# Dev

### Docker 

!**/Dockerfile
!**/docker-compose.yml
!**/*.dockerfile

### Intellij
**/.idea/

### vscode
**/.vscode/

# Language Specific

## Rust
**/debug/
**/target/

**/*.bk
**/*.bk.*

!**/Cargo.lock

## Node
build/
**/debug/
**/dist/
**/node_modules/

### SvelteKit
**/__sapper__/
**/.DS_STORE/
**/.svelte-kit/

## Python
**/__pycache__/
**/.pytest_cache/
**/venv/

**/*.egg
**/*.egg.*

**/*.egg-info

**/*.pyc
**/*.pyc.*

**/*.pyo
**/*.pyo.*

**/*.pyz
**/*.pyz.*

**/*.pyzw
**/*.pyzw.*

**/*.whl
**/*.whl.*

## Operating Systems

### Windows (WSL2)
**/*:Zone.Identifier

# Miscellaneous

## Files

**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.log
**/*.log.*

**/*.zip
**/*.zip.*